---
import Badge from "@/components/Badge.astro";
import Widget from "@/components/widgets/Widget.astro";
import { getCldImageUrl, getCldVideoUrl } from "astro-cloudinary/helpers";

interface Props {
	title: string;
	description: string;
	date: string;
	bgImage: string;
	previewVideo: string;
	position?: "top" | "bottom";
	orientation?: "portrait" | "landscape";
	types?: string[];
	badgeVariant?: "light" | "dark";
	id: string;
	[key: string]: any;
}

const {
	title,
	description,
	date,
	bgImage,
	previewVideo,
	position = "top",
	orientation = "portrait",
	types,
	badgeVariant = "light",
	id,
	...rest
} = Astro.props;

const bgImageUrl = getCldImageUrl({ src: bgImage, width: 600 });
const previewVideoUrl = getCldVideoUrl({ src: previewVideo });
---

<Widget
	class:list={[
		"flex flex-col gap-4 p-6 md:justify-between",
		"mb-12 md:mb-0",
		position === "bottom" && "md:flex-col-reverse",
	]}
	{...rest}
>
	<a href={`/work/${id}/`} class="block" aria-label={`View ${title}`}>
		<div
			class:list={[
				"group relative flex w-full items-center justify-center",
				orientation === "portrait" && "aspect-4/5",
				orientation === "landscape" && "aspect-5/4",
			]}
			style={{
				backgroundImage: `url(${bgImageUrl})`,
				backgroundSize: "cover",
			}}
		>
			{
				types && types.length > 0 && (
					<div class="absolute top-2 right-2 flex gap-2 opacity-100 transition-opacity duration-300 md:opacity-0 md:group-hover:opacity-100">
						{types.map((t) => (
							<Badge
								text={`${t.slice(0, 1).toUpperCase()}${t.slice(1)}`}
								variant={badgeVariant}
							/>
						))}
					</div>
				)
			}
			<video
				src={previewVideoUrl}
				loop
				muted
				autoplay
				playsinline
				class="h-auto w-[90%]"></video>
		</div>
		<div class="flex flex-col gap-1 md:w-[480px]">
			<p class="font-switzer text-base-300 text-sm">{date}</p>
			<h2 class="font-cabinet text-base-900 text-3xl leading-none font-medium">
				{title}
			</h2>
			<p class="font-switzer text-base-500 mt-2 text-sm leading-tight">
				{description}
			</p>
		</div>
	</a>
</Widget>
