---
import Block from "@/components/Block.astro";
import Badge from "@/components/Badge.astro";

interface Props {
	title: string;
	description: string;
	bgImage: string;
	previewImage: string;
	position?: "top" | "bottom";
	layout?: "landscape" | "portrait";
	tags?: string[];
}

const {
	title,
	description,
	bgImage,
	previewImage,
	position = "top",
	layout = "portrait",
	tags,
} = Astro.props;
---

<Block
	class:list={[
		"flex flex-col gap-4 p-6",
		"mb-12 md:mb-0",
		position === "top" && "md:justify-between",
		position === "bottom" && "md:flex-col-reverse md:justify-start",
	]}
>
	<div
		class:list={[
			"group relative flex w-full items-center justify-center",
			layout === "portrait" && "aspect-4/5",
			layout === "landscape" && "aspect-5/4",
		]}
		style={{ backgroundImage: `url(${bgImage})`, backgroundSize: "cover" }}
	>
		{
			tags && tags.length > 0 && (
				<div class="absolute top-2 right-2 flex gap-2 opacity-100 transition-opacity duration-300 md:opacity-0 md:group-hover:opacity-100">
					{tags.map((tag) => (
						<Badge text={tag} />
					))}
				</div>
			)
		}
		<img
			src={previewImage}
			alt="Preview"
			class="h-auto w-[80%]"
			loading="lazy"
		/>
	</div>
	<div class="flex flex-col gap-1 md:w-[480px]">
		<h2 class="font-cabinet text-base-900 text-2xl font-medium">{title}</h2>
		<p class="font-switzer text-base-500 text-sm leading-tight">
			{description}
		</p>
	</div>
</Block>
