---
import { getEntry, render } from "astro:content";
import InfoDrawerComponent from "./info-drawer.tsx";

const entry = await getEntry("projects", "info-drawer");
if (!entry) {
	throw new Error("Info drawer entry not found");
}
const { Content } = await render(entry);

const title = entry?.data.title ?? "Info Drawer";
const description = entry?.data.description ?? "";
const createdDate =
	entry?.data.createdDate?.toISOString?.() ?? new Date().toISOString();
const lastUpdatedDate =
	entry?.data.lastUpdatedDate?.toISOString?.() ?? new Date().toISOString();
const types = entry?.data.types ?? ["interaction"];
---

<div class="bg-base-950 @container relative h-full w-full overflow-hidden">
	<InfoDrawerComponent
		client:load
		title={title}
		description={description}
		createdDate={createdDate}
		lastUpdatedDate={lastUpdatedDate}
		types={types}
	>
		<div class="text-base-500 [&_a]:text-base-700 space-y-2 [&_a]:underline">
			<Content />
		</div>
	</InfoDrawerComponent>
</div>
