---
import { getEntry, render } from "astro:content";
import InfoModalComponent from "./info-modal.tsx";

const entry = await getEntry("projects", "info-modal");
if (!entry) {
	throw new Error("Info modal entry not found");
}
const { Content } = await render(entry);

const title = entry?.data.title ?? "Info Modal";
const description = entry?.data.description ?? "";
const createdDate =
	entry?.data.createdDate?.toISOString?.() ?? new Date().toISOString();
const lastUpdatedDate =
	entry?.data.lastUpdatedDate?.toISOString?.() ?? new Date().toISOString();
const types = entry?.data.types ?? ["interaction"];
---

<div class="@container relative h-full w-full overflow-hidden">
	<InfoModalComponent
		client:load
		title={title}
		description={description}
		createdDate={createdDate}
		lastUpdatedDate={lastUpdatedDate}
		types={types}
	>
		<div class="text-base-500 [&_a]:text-base-700 space-y-2 [&_a]:underline">
			<Content />
		</div>
	</InfoModalComponent>
</div>
